html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #730c02;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#logo a {
    display: flex;
    justify-content: center;
}

#logo img {
    height: 90%;
    width: 90%;
}

#nav-bar-section-links {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#nav-bar-section-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav-bar-section-links li {
    display: inline;
    height: 100%;
}

#nav-bar-section-links a {
    text-decoration: none;
    height: 100%;
    color: #f2ae2e;
    transition: background-color, color 0.5s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#nav-bar-section-links .active {
    background-color: #f2ae2e;
    color: #730c02;
}

.body-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "banner" "section1" "section2" "section3";
}

.banner-container {
    grid-area: banner;
    display: flex;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.438),
            rgba(255, 255, 255, 0.438)
        ),
        url("../images/banner.PNG");
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
}

#banner-text {
    color: #8c3503;
}

/* Section 1 Container */
#section1-container {
    grid-area: section1;
    display: flex;
    flex-direction: row;
}

.section1-menu {
    width: 50%;
    background-color: #f2ae2e;
    color: #730c02;
}

.section1-menu ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.section1-menu li {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-menu-link-option-one {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #730c02;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.section1-menu-link-option-two {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #730c02;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.section1-menu .active {
    background-color: #730c02;
    color: #f2ae2e;
}

.section1-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 100%;
}

#section1-information-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

#section1-embeded-image {
    height: 80%;
    width: 80%;
}

#section1-information-text {
    height: 50%;
    display: flex;
    align-items: center;
}

#section2-container {
    grid-area: section2;
    display: flex;
    flex-direction: row;
}

#direction-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #730c02;
}

#google-maps-container {
    width: 50%;
    height: 100%;
    background-color: #f2ae2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-maps {
    width: 95%;
    height: 95%;
    border: 0;
}

#section3-container {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2ae2e;
    color: #730c02;
}

#feedback-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2a03d;
    border: 15px solid #f2ae2e;
    width: 50%;
}

#feedback-form-container form {
    width: 100%;
}

#feedback-form-container form input {
    width: 100%;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

#feedback-form-container form textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

.footer-container {
    background-color: #730c02;
    color: #f2ae2e;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social-media-container {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container img {
    height: 70%;
}

#scroll-back-to-top-button {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scroll-back-to-top-button img {
    height: 80%;
}

/* XL Device */
@media (min-width: 1200px) {
    .nav-bar-container {
        height: 70px;
    }

    .sticky + .body-container {
        padding-top: 70px;
    }

    #logo {
        width: 10%;
    }

    #nav-bar-section-links {
        width: 90%;
    }

    #nav-bar-section-links a {
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .body-container {
        grid-auto-rows: minmax(450px, auto);
    }

    #banner-text {
        font-size: 50px;
        padding-top: 100px;
    }

    /* Section 1 Container */

    .section1-menu {
        font-size: 20px;
    }

    #section1-information-text {
        padding: 10px;
        font-size: 15px;
    }

    #direction-text-container {
        font-size: 50px;
    }

    #feedback-form-container {
        padding: 10px;
        border: 15px solid #f2ae2e;
        width: 50%;
    }

    #feedback-form-container form input {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
    }

    #feedback-form-container form input::placeholder {
        font-size: 20px;
    }

    #feedback-form-container form textarea {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
    }

    #feedback-form-container form textarea::placeholder {
        font-size: 20px;
    }

    #feedback-form-container form input[type="submit"] {
        font-size: 20px;
    }

    .footer-container {
        height: 70px;
    }
}

/* L Device */
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-bar-container {
        height: 65px;
    }

    .sticky + .body-container {
        padding-top: 65px;
    }

    #logo {
        width: 10%;
    }

    #nav-bar-section-links {
        width: 90%;
    }

    #nav-bar-section-links a {
        font-size: 18px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .body-container {
        grid-auto-rows: minmax(420px, auto);
    }

    #banner-text {
        font-size: 40px;
        padding-top: 100px;
    }

    /* Section 1 Container */
    .section1-menu {
        font-size: 20px;
    }

    #section1-information-text {
        padding: 10px;
        font-size: 13px;
    }

    #direction-text-container {
        font-size: 50px;
    }
    #feedback-form-container {
        padding: 10px;
        border: 15px solid #f2ae2e;
        width: 50%;
    }

    #feedback-form-container form input {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 18px;
    }

    #feedback-form-container form input::placeholder {
        font-size: 18px;
    }

    #feedback-form-container form textarea {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 18px;
    }

    #feedback-form-container form textarea::placeholder {
        font-size: 18px;
    }

    #feedback-form-container form input[type="submit"] {
        font-size: 18px;
    }

    .footer-container {
        height: 65px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-bar-container {
        height: 60px;
    }

    .sticky + .body-container {
        padding-top: 60px;
    }

    #logo {
        width: 10%;
    }

    #nav-bar-section-links {
        width: 90%;
    }

    #nav-bar-section-links a {
        font-size: 16px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .body-container {
        grid-auto-rows: minmax(380px, auto);
    }

    #banner-text {
        font-size: 35px;
        padding-top: 100px;
    }

    /* Section 1 Container */
    .section1-menu {
        font-size: 20px;
    }

    #section1-information-text {
        padding: 10px;
        font-size: 11px;
    }

    #direction-text-container {
        font-size: 40px;
    }
    #feedback-form-container {
        padding: 10px;
        border: 15px solid #f2ae2e;
        width: 50%;
    }

    #feedback-form-container form input {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 15px;
    }

    #feedback-form-container form input::placeholder {
        font-size: 15px;
    }

    #feedback-form-container form textarea {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 15px;
    }

    #feedback-form-container form textarea::placeholder {
        font-size: 15px;
    }

    #feedback-form-container form input[type="submit"] {
        font-size: 15px;
    }

    .footer-container {
        height: 60px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .nav-bar-container {
        height: 55px;
    }

    .sticky + .body-container {
        padding-top: 55px;
    }

    #logo {
        width: 10%;
    }

    #nav-bar-section-links {
        width: 90%;
    }

    #nav-bar-section-links a {
        font-size: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .body-container {
        grid-auto-rows: minmax(320px, auto);
    }

    #banner-text {
        font-size: 30px;
        padding-top: 100px;
    }

    /* Section 1 Container */
    .section1-menu {
        font-size: 18px;
    }

    #section1-information-text {
        padding: 10px;
        font-size: 9px;
    }

    #direction-text-container {
        font-size: 35px;
    }
    #feedback-form-container {
        padding: 10px;
        border: 15px solid #f2ae2e;
        width: 50%;
    }

    #feedback-form-container form input {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
    }

    #feedback-form-container form input::placeholder {
        font-size: 12px;
    }

    #feedback-form-container form textarea {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
    }

    #feedback-form-container form textarea::placeholder {
        font-size: 12px;
    }

    #feedback-form-container form input[type="submit"] {
        font-size: 12px;
    }

    .footer-container {
        height: 55px;
    }
}

@media (max-width: 600px) {
    .nav-bar-container {
        height: 50px;
    }

    .sticky + .body-container {
        padding-top: 50px;
    }

    #logo {
        width: 20%;
    }

    #nav-bar-section-links {
        width: 80%;
    }

    #nav-bar-section-links a {
        font-size: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .body-container {
        grid-auto-rows: minmax(280px, auto);
    }

    #banner-text {
        font-size: 22px;
        padding-top: 100px;
    }

    /* Section 1 Container */
    .section1-menu {
        font-size: 10px;
    }

    #section1-information-text {
        padding: 10px;
        font-size: 7px;
    }

    #direction-text-container {
        font-size: 24px;
    }
    #feedback-form-container {
        padding: 10px;
        border: 15px solid #f2ae2e;
        width: 80%;
    }

    #feedback-form-container form input {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
    }

    #feedback-form-container form input::placeholder {
        font-size: 12px;
    }

    #feedback-form-container form textarea {
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
    }

    #feedback-form-container form textarea::placeholder {
        font-size: 12px;
    }

    #feedback-form-container form input[type="submit"] {
        font-size: 12px;
    }

    .footer-container {
        height: 55px;
        font-size: 8px;
    }
}
